*.obj
*.o
*.so
*.a
*.moc
*.0
*.1
*.dylib
*.pro.user
moc_*
.qmake.stash

bin/
src/framework/tgui/qrc_tgui_images.cpp

configure.tests/aspell/Makefile
configure.tests/aspell/aspell
configure.tests/ffmpeg/Makefile
configure.tests/ffmpeg/ffmpeg
configure.tests/opengl/Makefile
configure.tests/opengl/opengl
configure.tests/zlib/Makefile
configure.tests/zlib/zlib
configure.tests/theora/theora
configure.tests/quazip/quazip

src/framework/tupconfig.pri
tupiglobal.pri

launcher/*

3rdparty/Makefile
3rdparty/potrace/Makefile
3rdparty/quazip/Makefile
Makefile
src/Makefile
src/components/Makefile
src/components/animation/Makefile
src/components/colorpalette/Makefile
src/components/debug/Makefile
src/components/export/Makefile
src/components/exposure/Makefile
src/components/help/Makefile
src/components/import/Makefile
src/components/kinas/Makefile
src/components/library/Makefile
src/components/workspace/Makefile
src/components/pen/Makefile
src/components/scenes/Makefile
src/components/timeline/Makefile
src/components/twitter/Makefile
src/framework/Makefile
src/framework/core/Makefile
src/framework/gui/Makefile
src/framework/sound/Makefile
src/libbase/Makefile
src/libtupi/Makefile
src/libui/Makefile
src/net/Makefile
src/plugins/Makefile
src/plugins/export/Makefile
src/plugins/export/ffmpegplugin/Makefile
src/plugins/export/genericexportplugin/Makefile
src/plugins/export/smilexportplugin/Makefile
src/plugins/filters/Makefile
src/plugins/import/Makefile
src/plugins/tools/Makefile
src/plugins/tools/color/Makefile
src/plugins/tools/common/Makefile
src/plugins/tools/composed/Makefile
src/plugins/tools/nodes/Makefile
src/plugins/tools/eraser/Makefile
src/plugins/tools/fill/Makefile
src/plugins/tools/geometric/Makefile
src/plugins/tools/ink/Makefile
src/plugins/tools/opacity/Makefile
src/plugins/tools/pencil/Makefile
src/plugins/tools/polyline/Makefile
src/plugins/tools/position/Makefile
src/plugins/tools/rotation/Makefile
src/plugins/tools/scale/Makefile
src/plugins/tools/scheme/Makefile
src/plugins/tools/selecton/Makefile
src/plugins/tools/shear/Makefile
src/plugins/tools/text/Makefile
src/shell/Makefile
src/store/Makefile
src/themes/Makefile
src/themes/default/Makefile
src/themes/default/cursors/Makefile
src/themes/default/icons/Makefile
src/themes/default/images/Makefile
