QWidget { 
    background-color: BG_PARAM
} 

QLineEdit, QSpinBox, QDoubleSpinBox, QComboBox, QTableView, QListWidget, QTextEdit, QPlainTextEdit, QTreeWidget { 
    background: rgb(255,255,255) 
}

QGraphicsView {
    background-color: rgb(80,80,80)
}

QListWidget { 
    background-color: rgb(255,255,255) 
}
