[Desktop Entry]
Type=Application
Name=TupiTube Desk 0.2.17
GenericName=Animation Software
GenericName[en_GB]=Animation Software
GenericName[es]=Programa para hacer animaciones
GenericName[gl]=Programa para facer debuxos animados
GenericName[fr]=Programme pour faire des dessins animes
GenericName[it]=Programma per creare cartoni animati
GenericName[de]=Programm zum Erstellen von Cartoons
GenericName[pt]=Programa para fazer desenhos animados
GenericName[pt_BR]=Programa para fazer desenhos animados
Comment=Cartoon and stop-motion
Comment[en_GB]=Cartoon and stop-motion
Comment[es]=Dibujos animados y stop-motion
Comment[gl]=Programa para facer debuxos animados
Comment[fr]=Dessin animé et stop-motion
Comment[it]=Cartone animato e stop-motion
Comment[de]=Cartoon und Stop-Motion
Comment[pt_BR]=Desenho animado e stop motion
Comment[pt]=Desenho animado e stop motion
Icon=tupitube
Exec=tupitube
Keywords=Toon Boom Studio;Toon Boom Harmony;TV Paint;Dragonframe;Animate;
MimeType=tupi/tup
Categories=2DGraphics;AudioVideo;Other;GNOME;KDE;GTK;
Terminal=false
NoDisplay=false
StartupNotify=true
Encoding=UTF-8
Name[es_ES.UTF-8]=TupiTube Desk 0.2.17
